<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://xia.jiufw.top/o_1h1sb1psh1e8v1uhu7vl181m1m6ka.ipa?attname=%E7%99%BE%E5%BA%A6%E7%BD%91%E7%9B%98_11.51.0%EF%BC%88%E6%AD%A3%E7%89%88%EF%BC%89.ipa&sign=ee716af885430cae05ac12fcefbbd319&t=647922ff</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.douban.qinghe</string>
<key>bundle-version</key>
<string>0.0.0.</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>工作室</string>
<key>title</key>
<string>工作室</string>
</dict>
</dict>
</array>
</dict>
</plist>
